<%=link_to image_tag(@question.is_voted_up(@current_user) ? "vote_up_press.png" : "vote_up.png", :border => 0, :class => 'vote-item'), vote_up_question_url, method: :put, remote: true%>
<div><%=@question.rating%></div>
<%=link_to image_tag(@question.is_voted_down(@current_user) ? "vote_down_press.png" : "vote_down.png", :border => 0, :class => 'vote-item'), vote_down_question_url, method: :put, remote: true%>
