/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require jquery.tokenize
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
}

.topbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.86);
    height: 34px;
    line-height: 1;
    vertical-align: middle;
}
.topbar .topbar-wrapper {
    width: 1000px;
    margin: 0 auto;
    height: 34px;
    font-weight: bolder;
    color: #999999;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.field {
    min-height:24px;
}

.field input {
    width: 500px;
    background: #FFF;
    color: #444;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 10px;
    box-shadow: 0 1px 2px rgba(34,36,38,0.1) inset;
}

.field textarea {
    width: 100%;
    background: #FFF;
    color: #444;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 10px;
}

.field .title {
}

.separator {
    width: 100%;
    border-bottom: 1px solid rgba(34,36,38,0.1) ;
}

.title {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 1em;
}

#question .sidebar {
    width: 50px;
    float: left;
    text-align: center;
}

#question .content {
    display: inline-block;
    width: 80%;
}

#question .text {
    text-align: justify;
}

#comment {
    clear: both;
    width: 100%;
}

.tags-search {
    width:100%
}

div.tags-search.Tokenize ul.TokensContainer {
    height: 25px;
}

.question-title {
    padding: 10px 10px 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background: #EEE;
}

.question-body {
    padding: 10px 10px 10px 30px;
}

.vote-item {
    width: 30px;
    height: 30px;
}

div .tag {
    display: inline;
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
    background: #bfccff;
    color: #7879a4;
}
div .tags {
    padding-top: 20px;
}


